#root {
  max-width: 1280px;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
}

@media (max-width: 1020px) {
  .layout {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
